* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.9);
    border-bottom: 1px solid #282828;
    color: #cdd6f4
}

#workspaces {
    margin-left: 10px;
}

#workspaces button {
    margin: 0px 3px 6px;
    border-radius: 16px;
    color: #dadada;
    background: #003c75;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: #003c75;
    background: #afd0f2;
    border-radius: 16px;
    min-width: 50px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    color: #dadada;
    background: #8baf56;
    border-radius: 16px;
}

/* #pulseaudio {
    background: firebrick;
} */

#backlight {
    color: #efef86;
}

#network {
    color: rgb(250,210,232);
}
#memory {
    color: rgb(32,187,161);
}

#temperature {
    color: #155999
}
#temperature.critical {
    color: #ee662f;
}


#battery {
    color: #9ece6a;
}

#battery.charging {
    color: #9ece6a;
}

#battery.warning:not(.charging) {
    color: #FEC13F;
}

#battery.critical:not(.charging) {
    color: #f7768e;
}


#custom-power {
	color: #db4b4b;
    margin-right: 10px;
}